
/* Header of the page */
body > section#header {	
    padding: 5px;
    padding-left: 20px;
    background:#369;        
    color:white;
}
body > section#header > h1 {
    color:white;
}

/*sidebar*/

body section#sidebar{    
    position: absolute;
    padding:0 30px;
    width:164px;
}

.bold{
    font-weight: bold;
}


/*main section*/

.sidebar #mainList {margin-left:225px; margin-right:0; margin-top: 0px;}
#question_list ol {margin-left:0; list-style-type:none;}

section#mainList > #header {  
    padding: 1em;
}

/*buttons*/

/*questions */

.question{
	padding:1em 5em 1em 7em;
	position: relative;
	zoom: 1;
	margin:0;
}
.question:before, .question:after { content: "\0020"; display: block; height: 0px; visibility: hidden;} 
.question:after { clear: both; }

.question label {display:block; margin-bottom:.5em; max-width:90%;}
.question div label {display: inline-block; margin-bottom:0;}

.question .points, .group .points {
	position: absolute;
	top:1em;
	right:2em;
}

.question p {padding-top:0;}

.question .column {
	margin:0 2em 0 0;
	padding:0;
	max-width:40%;
	min-width:25%;
	float:left;
}

.question select {
  width:100%; }


.column ol {margin-top:.25em; padding-left:2em;}
.column ol li {margin-bottom:.25em;}
.column ol label {max-width: 100%; display:block;}
.column h3 {border-bottom:1px solid #ccc; color:#444; font-size:1em;margin-top:.25em;}
#question_list ol.col2 {list-style-type: upper-alpha;}

div.questionNumber {display: block; width: 4.5em; position: absolute; top:1em; left:.5em; font-weight: bold; text-align: right;}
span.questionNumber {color:#999;}


@media screen and (min-width:1100px) {
	.question > label {max-width:625px} /* 90% of 722px */
}
@media screen and (min-width:1200px) {
	.question > label {max-width:80%}
}

/* alerts */

#notifyAlert {    
    display:none;
    position:absolute;
    top:25%;
    left:45%;
    padding:2em;
    background: yellow;
    color:black;
    text-align:center;
    z-index:99999;
}


/* heading of exam */

section#header > h2 span, section#header > .desc span {
    float: right;
}

section#header > .desc span {
    font-weight: bold;
}

section#header {
    background-color: #d1e4f6;
}

section#header h2, section#header .desc {
    margin: 0;
}

section#header h2 {
    padding: 5px 0;
}

/* sidebar */
#notify {
    padding-top: 15px;
}

#notify .inlineLabel {
    display: inline;
    padding-right: 3px;
}

/* assessment area */
textarea {
    max-width: 700px;
    display: block;
    min-height: 60px;
}

section#header, .question, .group {
    border-bottom: 1px solid #ddd;
}

section#question_list > form > ol {
    margin: 0;
}

.question div, .question label, .question div label, .question div input {
    color: #444;
}